<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>华阳幼儿园管理系统</title>

	<!-- Bootstrap -->
	<link href="/../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="/../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="/../vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="/../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

	<!-- bootstrap-progressbar -->
	<link href="/../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
	<!-- JQVMap -->
	<link href="/../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
	<link href="/../vendors/dropzone/dist/min/basic.min.css" rel="stylesheet" />
	<link href="/../vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
	<!-- bootstrap-daterangepicker -->
	<link href="/../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet"> {{!--
	<link href="https://cdn.bootcss.com/dropzone/5.4.0/min/dropzone.min.css" rel="stylesheet"> --}}
	<!-- Custom Theme Style -->
	<link href="/../build/css/custom.min.css" rel="stylesheet">
	<style>
	</style>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title">
							<span>华阳幼儿园管理系统</span>
						</a>
					</div>

					<div class="clearfix"></div>

					<br />

					<!-- sidebar menu -->
			    <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <!-- <h3>General</h3> -->
              <ul class="nav side-menu">
                <li>
                  <a>
                    <i class="fa fa-home"></i> 基本信息
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="/admin/contact">联系方式</a>
                    </li>
                    <!-- <li><a href="index2.html">Dashboard2</a></li>
                      <li><a href="index3.html">Dashboard3</a></li> -->
                  </ul>
                </li>


                  <li>
                  <a>
                    <i class="fa fa-clone"></i>集团信息
                    <span class="fa fa-chevron-down"></span>
                  </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="/admin/group-list">人员照片</a>
                      </li>
                    </ul>
                </li>
                <li>
                 <li>
                  <a>
                    <i class="fa fa-clone"></i>教师风采
                    <span class="fa fa-chevron-down"></span>
                  </a>
                    <ul class="nav child_menu">
                      <li>
                       <a href="/admin/teacher-boss-list">园长信息</a>
                      </li>
                        <li>
                        <a href="/admin/teacher-list">明星教师</a>
                      </li>
											<li>
                        <a href="/admin/teacher-good">最美华幼人</a>
                      </li>
                    </ul>
                </li>
                <li>
                  <a href="/admin/child-list">
                    <i class="fa fa-desktop"></i> 宝贝风采
                    {{!-- <span class="fa fa-chevron-down"></span> --}}
                  </a>
                  {{!-- <ul class="nav child_menu">
                    <li>
                      <a href="general_elements.html">班级星宝贝</a>
                    </li>
                    <li>
                      <a href="media_gallery.html">获奖宝贝</a>
                    </li>
                    <li>
                      <a href="typography.html">宝贝作品</a>
                    </li>

                  </ul> --}}
                </li>

                <li>
                  <a>
                    <i class="fa fa-clone"></i>信息发布
                    <span class="fa fa-chevron-down"></span>
                  </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="/admin/news-list">新闻</a>
                      </li>
											<li>
                        <a href="/admin/video-list">新闻小视频</a>
                      </li>
											 <li>
                        <a href="/admin/activity-list">活动</a>
                      </li>
                      <li>
                        <a href="/admin/parenting-list">家园印记</a>
                      </li>
											<li>
                        <a href="/admin/picbook-list">绘本推荐</a>
                      </li>
											<li>
                        <a href="/admin/cookbook-list">幼儿食谱</a>
                      </li>
											<li>
                        <a href="/admin/specialfocus-list">特别关注</a>
                      </li>
                      <li>
                        <a href="/admin/course-list">专家说教</a>
                      </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="FullScreen">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="Lock">
							<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
						</a>
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle">
								<i class="fa fa-bars"></i>
							</a>
						</div>

						<ul class="nav navbar-nav navbar-right">
						</ul>
						</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->


			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h4>幼儿食谱</h4>
						</div>
					</div>
					<div class="clearfix"></div>

					
					<form action="/admin/cookbook-list/{{route}}" method="POST">
						<input name="id" value="{{item.id}}" hidden/>
						<input id="coverAll" name="coverAll" value="{{item.coverAll}}" hidden/>
						<input id="coverW" name="coverW" value="{{item.coverW}}" hidden/>
						<input id="coverE" name="coverE" value="{{item.coverE}}" hidden/>
						<input id="coverS" name="coverS" value="{{item.coverS}}" hidden/>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<!-- <div class="x_content"> -->

								<div class="mt-5">
									<label class="control-label col-md-2 col-sm-3 col-xs-12">标题</label>
									<div class="col-md-9 col-sm-9 col-xs-12" style="margin-bottom:10px;">
										<input type="text" name="title" id="title" class="form-control" value="{{item.title}}" required>
									</div>
									<br>
								</div>

								{{!-- <div class="mt-5">
									<label class="control-label col-md-2 col-sm-3 col-xs-12">日期</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<div class="input-group date col-md-3" id="myDatepicker2">
											<input type="text" class="form-control" id="date" name="date" value="{{item.time}}">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</div> --}}
								<br>
								<hr class="mt-5">
								<div class="mt-5">
									<label class="control-label col-md-2 col-sm-3 col-xs-12">总园食谱
									</label>
									<div class="col-md-5 col-sm-9 col-xs-12 dropzone form-control" id="myDropzoneAll" style="min-height:165px;padding:0 0px;">
										<div class="am-text-success dz-message">
											将文件拖拽到此处
											<br>或点此处选择文件
										</div>
									</div>
								</div>
								<br>
								<div class="mt-5">
									<label class="control-label col-md-2 col-sm-3 col-xs-12">西园食谱
									</label>
									<div class="col-md-5 col-sm-9 col-xs-12 dropzone form-control" id="myDropzoneW" style="min-height:165px;padding:0 0px;">
										<div class="am-text-success dz-message">
											将文件拖拽到此处
											<br>或点此处选择文件
										</div>
									</div>
								</div>
								<br>
								<div class="mt-5">
									<label class="control-label col-md-2 col-sm-3 col-xs-12">东园食谱
									</label>
									<div class="col-md-5 col-sm-9 col-xs-12 dropzone form-control" id="myDropzoneE" style="min-height:165px;padding:0 0px;">
										<div class="am-text-success dz-message">
											将文件拖拽到此处
											<br>或点此处选择文件
										</div>
									</div>
								</div>
								<br>
								<div class="mt-5">
									<label class="control-label col-md-2 col-sm-3 col-xs-12">南园食谱
									</label>
									<div class="col-md-5 col-sm-9 col-xs-12 dropzone form-control" id="myDropzoneS" style="min-height:165px;padding:0 0px;">
										<div class="am-text-success dz-message">
											将文件拖拽到此处
											<br>或点此处选择文件
										</div>
									</div>
								</div>
								<br>




							</div>
						</div>


						<!-- </div> -->
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_content">
									<button type="submit" class="btn btn-primary">{{action}}</button>
									<a href="/admin/cookbook-list">
										<button type="button" class="btn btn-primary">返回</button>
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>


			<!-- /page content -->

			<!-- footer content -->

			<!-- /footer content -->
		</div>
	</div>

	<!-- jQuery -->
	<script src="/../vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="/../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="/../vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="/../vendors/nprogress/nprogress.js"></script>
	<!-- bootstrap-progressbar -->
	<script src="/../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->
	<script src="/../vendors/iCheck/icheck.min.js"></script>
	<!-- bootstrap-daterangepicker -->
	<script src="/../vendors/moment/min/moment.min.js"></script>
	<script src="/../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	<!-- bootstrap-wysiwyg -->
	<script src="/../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
	<script src="/../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
	<script src="/../vendors/google-code-prettify/src/prettify.js"></script>
	<!-- jQuery Tags Input -->
	<script src="/../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
	<!-- Switchery -->
	<script src="/../vendors/switchery/dist/switchery.min.js"></script>
	<!-- Select2 -->
	<script src="/../vendors/select2/dist/js/select2.full.min.js"></script>
	<!-- Parsley -->
	<script src="/../vendors/parsleyjs/dist/parsley.min.js"></script>
	<!-- Autosize -->
	<script src="/../vendors/autosize/dist/autosize.min.js"></script>
	<!-- jQuery autocomplete -->
	<script src="/../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	<!-- starrr -->
	<script src="/../vendors/starrr/dist/starrr.js"></script>
	<!-- Custom Theme Scripts -->
	{{!--
	<script src="https://cdn.bootcss.com/dropzone/5.4.0/min/dropzone.min.js"></script> --}} {{!--
	<script src="/../vendors/dropzone/dist/min/dropzone-amd-module.min.js"></script> --}}
	<script src="/../vendors/dropzone/dist/min/dropzone.min.js"></script>

	<script src="/../build/js/custom.js"></script>
	<script src="/../vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.js"></script>
	<script>
		$(document).ready(function () {
			Dropzone.autoDiscover = false;
			var myDropzoneAll = new Dropzone("#myDropzoneAll", {
				url: "/admin/upload",
				addRemoveLinks: true,
				method: 'post',
				   dictRemoveFile:"取消",
				filesizeBase: 1024,
				sending: function (file, xhr, formData) {
					formData.append("filesize", file.size);
				},
				success: function (file, response, e) {
					$('#coverAll').val(response)
				}
			});
			var myDropzoneW = new Dropzone("#myDropzoneW", {
				url: "/admin/upload",
				addRemoveLinks: true,
				method: 'post',
				   dictRemoveFile:"取消",
				filesizeBase: 1024,
				sending: function (file, xhr, formData) {
					formData.append("filesize", file.size);
				},
				success: function (file, response, e) {
					$('#coverW').val(response)
				}
			});
			var myDropzoneE = new Dropzone("#myDropzoneE", {
				url: "/admin/upload",
				addRemoveLinks: true,
				method: 'post',
				   dictRemoveFile:"取消",
				filesizeBase: 1024,
				sending: function (file, xhr, formData) {
					formData.append("filesize", file.size);
				},
				success: function (file, response, e) {
					$('#coverE').val(response)
				}
			});
			var myDropzoneS = new Dropzone("#myDropzoneS", {
				url: "/admin/upload",
				addRemoveLinks: true,
				method: 'post',
				   dictRemoveFile:"取消",
				filesizeBase: 1024,
				sending: function (file, xhr, formData) {
					formData.append("filesize", file.size);
				},
				success: function (file, response, e) {
					$('#coverS').val(response)
				}
			});

{{#if item}}
var mockFile = { name: "123.jpg", size:123 };
    myDropzoneAll.options.addedfile.call(myDropzoneAll, mockFile);
    myDropzoneAll.options.thumbnail.call(myDropzoneAll, mockFile, "{{item.coverAll}}");
    myDropzoneW.options.addedfile.call(myDropzoneW, mockFile);
    myDropzoneW.options.thumbnail.call(myDropzoneW, mockFile, "{{item.coverW}}");
    myDropzoneE.options.addedfile.call(myDropzoneE, mockFile);
    myDropzoneE.options.thumbnail.call(myDropzoneE, mockFile, "{{item.coverE}}");
    myDropzoneS.options.addedfile.call(myDropzoneS, mockFile);
    myDropzoneS.options.thumbnail.call(myDropzoneS, mockFile, "{{item.coverS}}");
{{/if}}
			$('form').submit(function () {
				$('#content').val($('#editor-news').html())
				

				// console.log($("#myDatepicker2").data("datetimepicker").getDate())
				//$('#date').val($("#myDatepicker2").find("input").val())
				// e.preventDefault();
			})


			$('#myDatepicker2').datetimepicker({
				format: 'YYYY-MM-DD'
			})

		})
	</script>
</body>

</html>