{{!
< default}} <section id="top-banner">
    <img src="/images/banner/shishengfengcai.jpg" class="img-fluid">
    </section>
    {{!-- 蘑菇团队 --}}
    <section id="luck_lin" style="height: auto;min-height: 580px">
        <div class="container">
            <h4 class="leaf text-center pt-5">蘑菇团队</h4>

            <div class="row justify-content-center mt-5 ml-5">

                <ul class="nav">
                    <li>
                        <a href="javascript:void(0)" class="py-1 px-4 active pic-switch">蘑菇新人</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="py-1 px-4 pic-switch">蘑菇丽人</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="py-1 px-4 pic-switch">蘑菇达人</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="py-1 px-4 pic-switch">蘑菇名人</a>
                    </li>
                </ul>
            </div>
            <div class="row  pic-1 sloganL-wrap">
                <div class=" col-12 sloganL">
                    <div>
                        <p>形象：
                            <span>激情飞扬，蓄势待发</span>
                        </p>
                        <p>口号：
                            <span>新人、辛进、欣然成长</span>
                        </p>
                        <p>目标：
                            <span>打基础、重全面</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic1.0.cover}}" style="width:calc(100% - 30px)" alt="">
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic1.1.cover}}" style="width:calc(100% - 30px)" alt="">
                </div>
                {{!--
                <div class="col-4 col-md-4">
                    <img src="{{pic1.2.cover}}" class="" alt="">
                </div> --}}
            </div>
            <div class="row pic-2 sloganL-wrap">
                <div class=" col-12 sloganL">
                    <div>
                        <p>形象：
                            <span>青春靓丽，厚积薄发</span>
                        </p>
                        <p>口号：
                            <span>靓丽、磨砺、励志奋进</span>
                        </p>
                        <p>目标：
                            <span>磨经验、重积淀</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic2.0.cover}}" style="width:calc(100% - 30px)" alt="">
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic2.1.cover}}" style="width:calc(100% - 30px)"alt="">
                </div>
                {{!--
                <div class="col-4 col-md-4">
                    <img src="{{pic2.2.cover}}" class="group-pic" alt="">
                </div> --}}
            </div>
            <div class="row  pic-3 sloganL-wrap">
                <div class=" col-12 sloganL">
                    <div>
                        <p>形象：
                            <span>通惠贤达、意气风发</span>
                        </p>
                        <p>口号：
                            <span>通达、贤达、达于卓越</span>
                        </p>
                        <p>目标：
                            <span>树风格、重引领</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic3.0.cover}}" style="width:calc(100% - 30px)" alt="">
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic3.1.cover}}" style="width:calc(100% - 30px)" alt="">
                </div>
                {{!--
                <div class="col-4 col-md-4">
                    <img src="{{pic3.2.cover}}" class="group-pic" alt="">
                </div> --}}
            </div>
            <div class="row pic-4 sloganL-wrap">
                <div class=" col-12 sloganL">
                    <div>
                        <p>形象：
                            <span>名副其实、蹈厉奋发</span>
                        </p>
                        <p>口号：
                            <span>扎实、朴实、实至名归</span>
                        </p>
                        <p>目标：
                            <span>亮特色、重服务</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic4.0.cover}}" style="width:calc(100% - 30px)" alt="">
                </div>
                <div class="col-sm-12 col-md-6" style="text-align:center">
                    <img src="{{pic4.1.cover}}" style="width:calc(100% - 30px)" alt="">
                </div>
                {{!--
                <div class="col-4 col-md-4">
                    <img src="{{pic4.2.cover}}" class="group-pic" alt="">
                </div> --}}
            </div>

        </div>


    </section>


    {{!--
    <section id="teachers">
        <div class="container  pt-60">
            <h4 class="title">最美华幼人</h4>
            <span class="sub-title">TEACHERS</span>
        </div>

        <div class="container-fluid">

            <div class="row h-200px align-items-center border-bottom">

                <div class="col-4 col-md-4 text-right">
                    <img src="{{teacher.0.cover}}" class="rounded-circle home-teacher" alt="">
                </div>

                <div class="col-4 col-md-1 text-left bl py-3 pl-4 ml-5 mr-5">
                    <span class="name">{{teacher.0.title}}</span>
                    <br>
                    <span class="text">{{teacher.0.tag}}</span>

                </div>

                <div class="col-md-3 line">
                    <p class="text inline">{{teacher.0.content}}</p>
                </div>
                <div class="col-md-1 text-center hidden-sm">
                    <a id="toInfo" href="javascript:void(0);" data-type="{{teacher.0._id}}">
                        <img src="/images/right.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>


            <div class="row h-200px align-items-center border-bottom">

                <div class="col-4 col-md-4 text-right">
                    <a id="toInfo" href="javascript:void(0);">
                        <img src="{{teacher.1.cover}}" class="rounded-circle home-teacher" alt="">
                    </a>
                </div>

                <div class="col-4 col-md-1 text-left bl py-3 pl-4 ml-5 mr-5">
                    <span class="name">{{teacher.1.title}}</span>
                    <br>
                    <span class="text">{{teacher.1.tag}}</span>

                </div>

                <div class="col-md-3 line">
                    <p class="text inline">我，是一名幼儿教师，这是我理想的职业，我在这里播种了我的理想。从教三年以来，我一直坚守在教学第一线，勤奋踏实、年轻奋进是我的代名词。
                    </p>
                </div>
                <div class="col-md-1 text-center hidden-sm">
                    <a id="toInfo" href="javascript:void(0);" data-type="{{teacher.1._id}}">
                        <img src="/images/right.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>



            <div class="row h-200px align-items-center border-bottom">

                <div class="col-4 col-md-4 text-right">
                    <img src="{{teacher.2.cover}}" class="rounded-circle home-teacher" alt="">
                </div>

                <div class="col-4 col-md-1 text-left bl py-3 pl-4 ml-5 mr-5">
                    <span class="name">{{teacher.2.title}}</span>
                    <br>
                    <span class="text">{{teacher.2.tag}}</span>

                </div>

                <div class="col-md-3 line ">
                    <p class="text inline">初见罗老师其人，温柔雅静；细听罗老师上课，圆润悦耳。近三年的教学之路，罗老师用语言、行动、心灵诠释着爱的教育。
                    </p>
                </div>
                <div class="col-md-1 text-center hidden-sm">
                    <a id="toInfo" href="javascript:void(0);" data-type="{{teacher.2._id}}">
                        <img src="/images/right.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>

        </div>
    </section> --}}


    <section id="teachers" style="margin-top:100px;">
        <div class="container  pt-60">
            <a href="/teacher-good/all/1" id="luckLinBtn" class="a-clear">more
                <span class="more"></span>
            </a>
            <h4 class="title">最美华幼人</h4>
            <span class="sub-title">TEACHERS</span>
        </div>

                    
        <div class="container-fluid">
            {{#each tgood}}
            <div class="row h-200px align-items-center border-bottom">

                <div class="col-4 col-md-4 text-right">
                    <img src="{{cover}}" class="rounded-circle home-teacher" alt="">
                </div>

                <div class="col-4 col-md-1 text-left bl py-3 pl-4 ml-5 mr-5">
                    
                    <span class="name">{{name}}</span>
                    <br>
                    <span class="text">{{tag}}</span>

                </div>

                <div class="col-md-3 line">
                    <p class="text inline">{{breif}}</p>
                </div>
                <div class="col-md-1 text-center hidden-sm">
                    <a id="toInfo" href="/detail/teacher-good/{{id}}">
                        <img src="/images/right.png" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            {{/each}}
            {{!-- <div class="row h-200px align-items-center border-bottom">

                <div class="col-4 col-md-4 text-right">
                    <img src="/uploads/fe2eff55acb6b06556461feb495423a0.png" class="rounded-circle home-teacher" alt="">
                </div>

                <div class="col-4 col-md-1 text-left bl py-3 pl-4 ml-5 mr-5">
                    
                    <span class="name">万涛</span>
                    <br>
                    <span class="text">天府新区华阳幼儿园</span>

                </div>

                <div class="col-md-3 line">
                    <p class="text inline">我是一名普通而平凡的幼儿教师，一直在华阳幼儿园这块沃土上默默地耕耘着。1992年怀揣着对孩子的热爱，我踏上了幼儿教师的岗位。</p>
                </div>
                <div class="col-md-1 text-center hidden-sm">
                    <a id="toInfo" href="javascript:void(0);" data-type="{{teacher.0._id}}">
                        <img src="/images/right.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>


            <div class="row h-200px align-items-center border-bottom">

                <div class="col-4 col-md-4 text-right">
                    <a id="toInfo" href="javascript:void(0);">
                        <img src="/uploads/eeab0a477fd12b27d4154521b5951c16.jpg" class="rounded-circle home-teacher" alt="">
                    </a>
                </div>

                <div class="col-4 col-md-1 text-left bl py-3 pl-4 ml-5 mr-5">
                    <span class="name">马彬</span>
                    <br>
                    <span class="text">天府新区华阳幼儿园</span>

                </div>

                <div class="col-md-3 line">
                    <p class="text inline">我，是一名幼儿教师，这是我理想的职业，我在这里播种了我的理想。从教三年以来，我一直坚守在教学第一线，勤奋踏实、年轻奋进是我的代名词。
                    </p>
                </div>
                <div class="col-md-1 text-center hidden-sm">
                    <a id="toInfo" href="javascript:void(0);" data-type="{{teacher.1._id}}">
                        <img src="/images/right.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>



            <div class="row h-200px align-items-center border-bottom">

                <div class="col-4 col-md-4 text-right">
                    <img src="/uploads/cc87c7e9d968cc53351f106c7ee8ed31.jpg" class="rounded-circle home-teacher" alt="">
                </div>

                <div class="col-4 col-md-1 text-left bl py-3 pl-4 ml-5 mr-5">
                    <span class="name">罗丹丹</span>
                    <br>
                    <span class="text">天府新区华阳幼儿园</span>

                </div>

                <div class="col-md-3 line ">
                    <p class="text inline">初见罗老师其人，温柔雅静；细听罗老师上课，圆润悦耳。近三年的教学之路，罗老师用语言、行动、心灵诠释着爱的教育。
                    </p>
                </div>
                <div class="col-md-1 text-center hidden-sm">
                    <a id="toInfo" href="javascript:void(0);" data-type="{{teacher.2._id}}">
                        <img src="/images/right.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div> --}}

        </div>
    </section>









    {{!--
    <section id="model">
        <div class="container">
            <h4 class="leaf mt-5 mb-20 text-center">班级星宝贝</h4>

            <div class="d-flex justify-content-center  flex-wrap ">

                {{#each star}}
                <div class="model-item mr-2 resize-model">
                    <img src="{{cover}}" class="rounded-circle baby-img" height="169px" width="169px" alt="">
                    <div class="baby-text text-center px-3">
                        <span class="c-name">{{title}}</span>
                        <p class="s-name">{{class}}</p>
                        <p class="s-text">{{breif}}</p>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </section>


    <section id="captian" class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{single.0.cover}}" class="rounded-circle img-captain" alt="">
            </div>
            <div class="col-12 text-center mt-4">
                <h4 class="c-name">{{single.0.title}}</h4>
                <h5 class="black-text">华阳幼儿园园长</h5>
            </div>
            <div class="col-12 text-center pt-4">
                {{#if single.0.breif}} {{ single.0.breif}} {{else}}
                <p class="gray-text lh">我们将为孩子提供非凡的学习体验，独立的空间，老师的关怀与支持，让孩子们能够在不同的领域出类拔萃；温馨且适宜的学习环境，满足孩子们在社交、文化以及语言等各方面的发展需求</p>
                {{/if}}
            </div>
        </div>
    </section>

    <section id="workspace" class="mt-5 pt-5">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h4 class="leaf">名师工作室</h4>
                </div>
                <div class="col-12 col-md-5 text-center pt-4 lh">
                    <p> 华阳幼儿园“人本、自主、愉悦、发展”的办园理念和“四心两全三个一”的服务特色，紧紧围绕新区“学有良教、品质卓越”的教育目标，以“优化教师队伍，提升保教质量，创现代化书香幼儿园”为总体目标，着眼于幼儿的终身发展。
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row img-holder justify-content-center no-gutters">
                <div class="col-6 col-md-5 text-right pr-1 mb-1">
                    <img src="/images/t1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-md-5">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-6 text-left">
                            <img src="/images/t2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-6 col-md-6">
                            <img src="/images/t3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="row mt-1 no-gutters">
                        <img src="/images/t4.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="exchange" class="pt-5">
        <div class="container">
            <h4 class="leaf text-center">对外交流展示</h4>

            <div class="row justify-content-between no-gutters mt-5">

                {{#each course}}
                <a href="/detail/course/{{id}}">
                    <div class="col-12 col-md-4 mb-2">
                        <img src="{{cover}}" width="357px" height="240px" style="object-fit:cover" alt="">
                        <a href="#">
                            <div class="col-12 col-md-12">
                                <h4 class="c-name mt-4">{{title}}</h4>
                                <h5 class="black-text mt-3">{{breif}}</h5>

                            </div>
                        </a>
                    </div>
                </a>
                {{/each}}
            </div>


        </div>
        </div>
        </div>
    </section>

    <section id="star" class="pt-5">
        <div class="col-12 text-center mb-5">
            <h4 class="leaf">每月明星教师</h4>
        </div>
        <div class="swiper-container container">
            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="row justify-content-around">
                        <div>
                            <img src="{{items.0.cover}}" class="rounded-circle star-pic" alt="">
                            <p class="black-text mt-4 clear-lh text-center">{{items.0.title}}</p>
                            <p class="gray-text mt-3 text-center">{{items.0.tag}}</p>
                        </div>
                        <div>
                            <img src="{{items.1.cover}}" class="rounded-circle star-pic" alt="">
                            <p class="black-text mt-4 clear-lh text-center">{{items.1.title}}</p>
                            <p class="gray-text mt-3 text-center">{{items.1.tag}}</p>
                        </div>
                        <div>
                            <img src="{{items.2.cover}}" class="rounded-circle star-pic" alt="">
                            <p class="black-text mt-4 clear-lh text-center">{{items.2.title}}</p>
                            <p class="gray-text mt-3 text-center">{{items.2.tag}}</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row justify-content-around">
                        <div>
                            <img src="{{items.3.cover}}" class="rounded-circle star-pic" alt="">
                            <p class="black-text mt-4 clear-lh text-center">{{items.3.title}}</p>
                            <p class="gray-text mt-3 text-center">{{items.3.tag}}</p>
                        </div>
                        <div>
                            <img src="{{items.4.cover}}" class="rounded-circle star-pic" alt="">
                            <p class="black-text mt-4 clear-lh text-center">{{items.4.title}}</p>
                            <p class="gray-text mt-3 text-center">{{items.4.tag}}</p>
                        </div>
                        <div>
                            <img src="{{items.5.cover}}" class="rounded-circle star-pic" alt="">
                            <p class="black-text mt-4 clear-lh text-center">{{items.5.title}}</p>
                            <p class="gray-text mt-3 text-center">{{items.5.tag}}</p>
                        </div>
                    </div>
                </div>



            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section> --}}






    <section id="contact">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-4">

                    <h4 class="title">
                        联系我们
                    </h4>

                    <h5 class="sub-title">
                        CONTACT US
                    </h5>
                </div>
                <div class="col-md-4">

                    <p> 地址: {{contact.addr}}</p>
                    <p> 邮编: {{contact.postcode}}</p>

                </div>

                <div class="col-md-3">

                    <p>邮箱: {{contact.email}}</p>
                    <p>电话:
                        <strong>{{contact.tel}}</strong>
                    </p>
                </div>

                <div class="col-md-1 pt-3 show-qrcode">
                    <a href="javascript:void(0)" class="wechat">
                        <img src="/images/wechat.png">
                    </a>
                </div>
            </div>
        </div>
    </section>